:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #282c34;
}
.editor-container {
  width: 100%;
  height: 100%;
}
::ng-deep .cm-editor {
  height: 100% !important;
}
::ng-deep .cm-scroller {
  overflow: auto;
}
